<div id="artists" class="relative pv4 bg-black-2 white">
    {{ partial "header" (dict "heading" "Meet Our Artists" )}}
    <p class="mw7 center tj f6 ph4">
        Whether you are wanting to get a tattoo or a piercing we have trained professionals on staff to help you get exactly what you are looking for. Keep an eye out on this section for new staff and guest artists! 
    </p>
    <div class="flex flex-column flex-row-ns flex-wrap justify-center mw7 specialFont center">
        {{range sort (where .Site.Pages "Type" "artists") "Weight"}}
        {{if .Params.position}}
        {{ .Render "artists" }}
        {{end}}
        {{ end }}
    </div>
</div>