<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146681880-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-146681880-1');
	</script>


	<title>{{ .Title }} | True Love Tattoo</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="True Love Tattoo and Piercing is located in downtown Salina, Kansas. Our shop is staffed with professional and knowledgeable artists and piercers to help you make your next tattoo or piercing a reality." />

	<link rel="stylesheet" href="/css/main.css" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->

	<meta property="og:type" content="business.business">
	{{if .Params.og}}
	<meta property="og:url" content="truelovetattooks.com{{.Permalink}}">
	<meta property="og:image" content="/img/imageProfile.jpg">
	{{else}}
	<meta property="og:title" content="True Love Tattoo">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/videoframe.jpg">
	{{end}}
	<!-- Fonts -->

	<!-- Styles -->
	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
	<link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/main.js"></script>

</head>