<div id="shop" class="relative pv4 bg-black-2 white">
    {{ partial "header" (dict "heading" "The Shop" )}}

    <p class="f6 mw7 center ph4 pb2 tj" >At True Love we strive to have a clean, professional, and inviting tattoo shop. When you come to True Love you will feel like you belong whether you are getting your first or hundredth tattoo. We have a very open floorplan, but have dividers available if you require more privacy for the tattoo or piercing that you are receiving. We are located in historical downtown Salina, and are a short walk to a large variety of local businesses. Below is our shop Instagram feed if you would like to see what the shop looks like before you make a visit. We know you will feel welcome here! </p>


    <div id="instagram-feed-demo" class="mw7 center"></div>
</div>
