<div class="pa3">
    <h4>Traditional Aftercare For Tattoos</h4>

    <h6 class="mt2">1. Remove bandage in a CLEAN bathroom after one hour. </h6>

    <h6 class="mt2">2. After removing bandage, wash the tattoo immediately with warm water and soap. </h6>
    We recommend a plain anti-bacterial soap. Do NOT use a soap with fragrance, moisture beads, or scrubs.

    <h6 class="mt2">TO WASH A FRESH TATTOO:</h6>

    <ul>

        <li>Wash your hands well with soap and warm water</li>
        <li>Carefully remove the bandage from your tattoo</li>
        <li>Make a lather in your hand with soap and warm water</li>
        <li>Gently clean tattoo using circular motions until all ointment, and any fluids are
            removed </li>
        <li>Rinse the tattoo until all the soap is washed off </li>
        <li>Let dry for 5-10 minutes</li>
    </ul>

    <h6 class="mt2">4. Once the tattoo is dry apply AQUAPHOR healing ointment, made by Eucerin. </h6>
    Apply a thin layer and rub it in, then dab excess off with a clean paper towel. Use the Aquaphor 3-5 times a day for
    the
    first 3 days then switch to a regular FRAGRANCE FREE lotion such as Lubriderm, or any other fragrance free
    brand and apply 5-7 times a day for 7-10 days.


    <h6 class="mt2">5. Fresh tattoos sometimes weep during the first couple of days causing a thin moist coating on the
        skin. </h6>
    This can be DABBED with a clean paper towel. Press the paper towel to the skin and remove. Do not wipe the
    tattoo or be rough with it. Excess ink may be on the paper towel, this is normal due to ink being sloughed from the
    surface of
    the skin.

    <h6 class="mt2">7. Wear loose, preferably cotton clothing over the fresh tattoo. </h6>
    Bra straps, tight waistband, sweaty gym shoes or itchy garments can potentially create healing problems. Consult
    your tattoo artist for
    advice on what clothing to wear/avoid.

    <h6 class="mt2">8. After a few days, the tattoo will begin to form flaky scabs that will fall off on their own.
    </h6>
    DO NOT PICK OR SCRATCH AT YOUR TATTOO. Keep it moisturized and the scabs will slough eventually. Once again,
    they will be the color of the tattoo. It normally takes 2-4 weeks for a tattoo to completely heal. If you
    have ANY questions about your healing, please contact one of our artists at <a
        href="tel:785-833-5083">785-833-5083</a>. Please do not
    consult your friends about healing issues, as everyone’s experience is unique. Our artists are more than happy to
    help with any concerns you might have.

    <br>
    <br>

    <h4>Saniderm Aftercare For Tattoos</h4>
    <ul>
        <li>For maximum comfort, ensure skin is in a neutral position when applying Saniderm. When applying to elbows
            and
            knees, the joint should be in a neutral position — neither straight nor completely bent.</li>
        <li>Shave, shave, shave. Peeling Saniderm off of hair is unpleasant. Shave the entire area, plus an additional
            inch
            all the way around the site of the tattoo.</li>
        <li>Practice before you apply. If it's your first time using Saniderm, it may be a little tricky to work with.
            It
            doesn't hurt to practice with a small section first, just make sure you shave the area.</li>
        <li>When cutting the bandage for application, remember that rounded corners provide the best adhesion.</li>
        <li>It's okay, when using multiple Saniderm bandages, to overlap them by 1/2 inch (1 cm).</li>
        <li>If using a glycerin soap, such as green soap, be sure to rinse thoroughly, as any residue will react with
            the
            adhesives and can cause binding and irritation. Avoid loofahs or scratchy wash cloths.</li>
    </ul>
    <p>For additional information on Saniderm please visit their website at <a
            href="https://saniderm.com/">saniderm.com</a></p>


    <br>
    <h3>In Case Of Complications</h3>
    <p>If you have any problems with your healing process you can reach out to an artist by calling the following
        number:</p>
    <ul>
        <li>True Love Tattoo: <a href="tel:785-833-5083">785-833-5083</a></li>
    </ul>
</div>